{% import "partials/_mixins.njk" as mixins %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>

    {% include "../partials/_meta-tags.njk" %}

    <link rel="stylesheet" href="css/theme.min.css">
    {% block styles %}{% endblock %}
</head>
<body>

<!-- BEGIN content -->
<div class="page">
    {% block content %}{% endblock %}
</div>
<!-- END content -->

<!-- BEGIN scripts -->
<script src="js/libs.min.js"></script>
<script src="js/app.min.js"></script>

{% block scripts %}{% endblock %}
<!-- END scripts -->

</body>
</html>
