---
title: Index page
---
{% extends "layouts/_main.html" %}

{% block content %}

<div id="page">

<section id="home" class="home">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2 class="title">
          Все виды аудита<br>
          для вашего бизнеса
        </h2>

        <div class="services">
          <div class="wrapper">
            <div class="service">
              <span class="icon"></span>
              <span class="name">
                Обязательный<br>
                аудит
              </span>
            </div>
            <div class="service">
              <span class="icon"></span>
              <span class="name">
                Налоговый<br>
                аудит
              </span>
            </div>
            <div class="service">
              <span class="icon"></span>
              <span class="name">
                Инициативный<br>
                аудит
              </span>
            </div>
            <div class="service">
              <span class="icon"></span>
              <span class="name">
                Экспресс<br>
                -аудит
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="obligatory_audit" class="service">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2>
          <img src="" alt="" class="ico">
          Обязательный аудит
        </h2>

        <ul class="options">
          <li>— Сбор аудиторских доказательств</li>
          <li>— Анализ первичной документации     и отчетности компании</li>
          <li>— Выявление ошибок</li>
          <li>— Формирование предварительных данных     для аудиторского заключения</li>
          <li>— Подготовка выводов</li>
          <li>— Составление отчета</li>
          <li>— Выдача аудиторского заключения</li>
          <li>— Индивидуальные практические рекомендации</li>
        </ul>

        <div class="footer">
          <span class="price">от 50 000 р.</span>
          <a href="#!" class="btn">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="initiative_audit" class="service">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2>
          <img src="" alt="" class="ico">
          Инициативный аудит
        </h2>

        <ul class="options">
          <li>— Анализ состояния бухгалтерского учета компании</li>
          <li>— Оценка состояния налогового учета предприятия</li>
          <li>— Анализ состояния налоговых расчетов организации</li>
          <li>— Экспертиза финансовой ситуации на предприятии</li>
          <li>— Составление рекомендаций по росту эффективности</li>
          <li>— Организация делопроизводства бухгалтерского учета</li>
          <li>— Составление письменного отчета</li>
          <li>— Выдача аудиторского заключения</li>
        </ul>

        <div class="footer">
          <span class="price">от 50 000 р.</span>
          <a href="#!" class="btn">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tax_audit" class="service">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2>
          <img src="" alt="" class="ico">
          Налоговый аудит
        </h2>

        <ul class="options">
          <li>— Сбор аудиторских доказательств</li>
          <li>— Анализ первичной документации     и отчетности компании</li>
          <li>— Выявление ошибок</li>
          <li>— Формирование предварительных данных     для аудиторского заключения</li>
          <li>— Подготовка выводов</li>
          <li>— Составление отчета</li>
          <li>— Выдача аудиторского заключения</li>
          <li>— Индивидуальные практические рекомендации</li>
        </ul>

        <div class="footer">
          <span class="price">от 50 000 р.</span>
          <a href="#!" class="btn">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="express_audit" class="service">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2>
          <img src="" alt="" class="ico">
          Экспресс-аудит
        </h2>

        <ul class="options">
          <li>— Сбор аудиторских доказательств</li>
          <li>— Анализ первичной документации     и отчетности компании</li>
          <li>— Выявление ошибок</li>
          <li>— Формирование предварительных данных     для аудиторского заключения</li>
          <li>— Подготовка выводов</li>
          <li>— Составление отчета</li>
          <li>— Выдача аудиторского заключения</li>
          <li>— Индивидуальные практические рекомендации</li>
        </ul>

        <div class="footer">
          <span class="price">от 50 000 р.</span>
          <a href="#!" class="btn">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="additional_services" class="service">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2>
          <img src="" alt="" class="ico">
          аудит
        </h2>

        <ul class="options">
          <li>Аудит консолидированной отчетности</li>
          <li>Аудит отчетности специального назначения</li>
          <li>
            Выполнение специальных процедур:

            <ul>
              <li>— экспертиза налоговых рисков</li>
              <li>— контроль за начислением и уплатой налогов и иных обязательных платежей</li>
              <li>— анализ хозяйственной и финансовой деятельности</li>
              <li>— оценка экономических и инвестиционных проектов, экономической безопасности систем бухгалтерского учета и внутреннего контроля</li>
              <li>— представление интересов экономического субъекта перед третьими лицами</li>
              <li>— консультирование по вопросам бухучета, налогообложения, финансов, хозяйственного права и другим смежным вопросам</li>
              <li>— информационное и экспертное обслуживание</li>
            </ul>
          </li>
          <li>Бухгалтерское сопровождение</li>
          <li>Регистрация фирм</li>
        </ul>

        <div class="footer">
          <span class="price">от 50 000 р.</span>
          <a href="#!" class="btn">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="clients">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2 class="title">Наши любимые клиенты</h2>

        <div class="clients_wrapper">
          <div id="clients_carousel" class="clients owl-carousel">
            <div class="item"><img src="img/clients/07.png" alt=""></div>
            <div class="item"><img src="img/clients/06.png" alt=""></div>
            <div class="item"><img src="img/clients/05.png" alt=""></div>
            <div class="item"><img src="img/clients/01.png" alt=""></div>
            <div class="item"><img src="img/clients/02.png" alt=""></div>
            <div class="item"><img src="img/clients/03.png" alt=""></div>
            <div class="item"><img src="img/clients/04.png" alt=""></div>
            <div class="item"><img src="img/clients/08.png" alt=""></div>
            <div class="item"><img src="img/clients/09.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="order">
  <div class="wrapper">
    <div class="row">
      <div class="content">
        <h2 class="title">Заявка на проведение аудита</h2>

        <form id="form_order" class="form" action="" method="post">
          <div class="flash-message success-summary">
              <p>Спасибо, Ваша заявка принята. Мы свяжемся с Вами в самое ближайшее время.</p>
          </div>

          <div class="col col-name form_group has-error">
              <input class="form_input" type="text" name="name" placeholder="Ваше имя">
              <div class="help-block">Необходимо заполнить «Ваше имя».</div>
          </div>

          <div class="col col-phone form_group">
              <input class="form_input" type="text" name="phone" placeholder="Телефон">
          </div>

          <div class="col col-email form_group">
              <input class="form_input" type="email" name="email" placeholder="E-mail">
          </div>

          <div class="col col-actions">
              <button class="btn btn-green btn-full-width" onclick="this.classList.add('loading');return false;">Оставить заявку</button>
          </div>

          <div class="col form_agreement">
              Я согласен с <a href="#!">Политикой конфиденциальности</a> и даю <a href="#!">согласие</a> на обработку персональных данных
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="contacts">
  <div class="wrapper">
    <div class="row">
      <div id="map"
           class="map"
           data-lat="55.78061552341007"
           data-lng="37.70390410848795"
           data-zoom="16"
           data-marker-lat="55.78051878192824"
           data-marker-lng="37.698453859770375"
           data-marker-img="img/map.svg"></div>

      <div class="content">
        <h2 class="title">Контакты</h2>

        <div class="phone">
          <a href="tel:+74953802500">(495) 380-25-00</a>
        </div>

        <div class="address">
          г.Москва, Большая Почтовая ул., д. 36, стр. 6-7-8
        </div>

        <div class="workTime">
          Понедельник - пятница: <b>с 9:30 до 19:30</b><br>
          Пятница: <b>с 9:30 до 18:30</b><br>
          Суббота: <b>с 9:30 до 14:00</b> <span>по предварительной записи.</span>
        </div>

        <div class="logo">
          <img src="img/logo_company.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

</div>
{% endblock %}


{% block styles %}
<style type="text/css">
</style>
{% endblock %}


{% block scripts %}
<script>
</script>
{% endblock %}
