doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        block pageTitle
            title #{sitename}

        link(rel="stylesheet" href="css/app.min.css")
    body
        #app
            block header
                include ../partials/header.pug

            block content

            block footer
                include ../partials/header.pug

        include _scripts.pug
