<div id="modal-test" class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                header

                <button class="modal__btn-close" data-modal-btn="close">
                    &times;
                </button>
            </div>

            <div class="modal__body">
                body
            </div>

            <div class="modal__footer">
                footer
            </div>
        </div>
    </div>
</div>
