<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block pageTitle %}
        <title>{{ sitename }}</title>
    {% endblock %}

    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>

<div id="app">
    {% block header %}
        {% include "../partials/header.njk" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        {% include "../partials/footer.njk" %}
    {% endblock %}

    {% include "./_scripts.njk" %}
</div>

</body>
</html>
