{% extends "includes/layout/main.njk" %}

{% block pageTitle %}
    <title>{{ sitename }} - Index Page</title>
{% endblock %}

{% block content %}
    <main>
        <h1>Page Title</h1>
    </main>
{% endblock %}
