<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block pageTitle %}{{ sitename }}{% endblock %}</title>

    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>

<div id="app">
    {% block header %}
        {% include "partials/header.njk" %}
    {% endblock %}

    <div class="app-sections">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
        {% include "partials/footer.njk" %}
    {% endblock %}

    {% include "partials/modals.njk" %}
</div>

{% include "partials/scripts.njk" %}

</body>
</html>
