<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

{# Description no longer than 155 characters #}
<meta name="description" content="{{ description }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="{{ twitter_summary }}">
<meta name="twitter:site" content="{{ twitter_publisher }}">
<meta name="twitter:title" content="{{ twitter_title }}">
<meta name="twitter:description" content="{{ twitter_description }}">
<meta name="twitter:creator" content="{{ twitter_author }}">
<meta name="twitter:image" content="{{ twitter_image }}">
{# Twitter Summary card images must be at least 120x120px #}

<!-- Open Graph data -->
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:image" content="{{ og_image }}">
<meta property="og:description" content="{{ og_description }}">
<meta property="og:site_name" content="{{ og_sitename }}">
<meta property="fb:admins" content="{{ fb_admins }}">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000">
