:root {
    /* Fonts */

    --fonts-path: '../fonts';
    --font-arial: Arial;
    --font-default: @font-arial;


    /* Colors */

    --color-accent: #024ec0;
    --color-secondary: #27ae2d;

    --color-body-bg: #f4f8ff;

    --color-text-default: #333;
}
