---
title: Index page
---
{% extends "layouts/_main.njk" %}

{% block content %}

Content

{% endblock %}


{% block styles %}
<style type="text/css">
</style>
{% endblock %}


{% block scripts %}
<script>
</script>
{% endblock %}
